@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: rgb(43, 87, 125);
  color: #342b2b;
  font-family: Poppins;
}

#root {
  flex: 1;
  display: flex;
  justify-content: center;
}

.app {
  width: 500px;
  background-color: rgb(208, 208, 186);
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  padding: 1rem 0 2rem 0;
}

.input-container {
  display: flex;
  width: 400px;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.input {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  flex: 1;
  background-color: #cdffef;
  font-family: inherit;
  border: none;
}

.input:focus {
  outline: none;
  background-color: #b6e7d7;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: inherit;
  background-color: #41ffc3;
  border: none;
  cursor: pointer;
}

.groceries {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  width: 100%;
}

.grocery {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
  width: 20%;
  justify-content: space-between;
}

.edit-btn,
.delete-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.edit-btn:hover {
  background-color: rgba(73, 71, 172, 0.401);
  color: #241c1c;
}

.delete-btn:hover {
  background-color: rgba(209, 43, 21, 0.401);
  color: #241c1c;
}

.edit-btn {
  background-color: rgb(73, 71, 172);
}

.delete-btn {
  background-color: rgb(209, 43, 21);
}

.clear-btn {
  width: 100px;
  margin: 1rem auto;
  background-color: rgb(249, 70, 50);
  padding: 0.25rem 1rem;
  color: white;
  font-size: 1rem;
  border: none;
  font-family: inherit;
  transition: all 0.2s ease-in-out;

}

.clear-btn:hover {
  background-color: rgba(249, 70, 50, 0.401);
  color: #241c1c;
}